html {
    font-family: "Avenir Next", Helevetica, sans-serif; /*стиль шрифта*/
    background-image: url("img/slide1.jpg"); /*Основной фон сайта*/
}
input { /*верхний элемент*/ /*элемент интерфейса*/
    position: relative; /*позиционирование*/
    top: 20px; /*расстояние от верха */
    left: 800px; /*расстояние с левого края*/
    width: 300px; /*ширина*/
    height: 50px; /*высота*/
    font-size: 20px; /*размер шрифта*/
    border: 0; /*толщина и стиль границ вокруг*/
    text-align: justify; /*выравнивание текста по лефому и правому краю*/
}
input:focus { /*элемент интрефейса введенных элементов*/
   outline: none; /*без рамки при нажатии на ввод текста*/
}

li { /*здесь прописыается стиль введеных элементов*/
    position: relative; /*похиция элемента*/
    top: 20px; /*расстояние от верхнего края*/
    left: 750px; /*отступ с левого края*/
    font-size: 18px; /*размер щрифта, который отображаетя при вводе*/
    list-style: none; /*убирает точки в написанных элементах*/
    margin: 0; /*величина отступа от каждого отступа*/
}
li:hover { /*делает каждый элемент отдельный*/
    text-decoration: line-through; /*делает зачеркивание элементов при уалении*/
    color: red; /*при наведении делает красный цвет*/
}